<!-- base.html 상속지정 -->

{% extends 'base.html' %}
{% block content %}
        <h4>나를 성장시키기 수정하기</h4>
        <br>
        <form action="/edit/{{todo.id}}" method="post">
            <textarea name="task" rows="5">{{todo.task}}</textarea>
            <label for="completed">Done?</label>
            <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %}>

            <button type="submit">Save</button>
        </form>
        <!-- 미션: 아래쪽에 데이터 목록이 보이도록 만들기 -->
        <div>
            <h2>Task</h2>
            {% for todo in todos %}
            <div class="task">
                {% if todo.completed %}
                    <strike>{{ todo.task }}</strike>
                {% else %}
                    {{ todo.task }}
                {% endif %}
                <small>
                    <a href="edit/{{ todo.id }}">수정</a>
                    <a href="delete/{{ todo.id }}">삭제</a>
                </small>
            </div>
            {% endfor %}
        </div>
{% endblock content %}