<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Document</title>
</head>
<body>
    <main>
        <a href="/"><p class="head_img"></p></a>
        <h4>나를 성장시키기 수정하기</h4>
        <br>
        <form action="/edit/{{todo.id}}" method="post">
            <textarea name="task" rows="5">{{todo.task}}</textarea>
            <label for="completed">Done?</label>
            <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %}>

            <button type="submit">Save</button>
        </form>
        <!-- 미션: 아래쪽에 데이터 목록이 보이도록 만들기 -->
        <div>
            <h2>Task</h2>
            {% for todo in todos %}
            <div class="task">
                {% if todo.completed %}
                    <strike>{{ todo.task }}</strike>
                {% else %}
                    {{ todo.task }}
                {% endif %}
                <small>
                    <a href="edit/{{ todo.id }}">Edit</a>
                    <a href="delete/{{ todo.id }}">Delete</a>
                </small>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>