<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
    <main>
        <a href="/"><p class="head_img"></p></a>
        <h4>나를 성장시키는 메모</h4>
        <br>
        <form action="/add" method="post">
            <textarea name="task" rows="5" placeholder="todo task 입력하세요" id="task"></textarea>
            <button type="submit" id="add_task">
                Add
            </button>
        </form>
    </main>
    <h2>Tasks</h2>
    {% for todo in todos %}
        <div class="task">
            {% if todo.completed %}
                <strike>{{ todo.task }}</strike>
            {% else %}
                {{ todo.task }}
            {% endif %}
            <small>
                <a href="edit/{{ todo.id }}">수정</a>
                <a href="delete/{{ todo.id }}">삭제</a>
            </small>
        </div>
    {% endfor %}
</body>
</html>