<!-- base.html 상속지정 -->

{% extends 'base.html' %}
{% block content %}
        <h4>나를 성장시키는 메모</h4>
        <br>
        <form action="/add" method="post">
            <textarea name="task" rows="5" placeholder="todo task 입력하세요" id="task"></textarea>
            <button type="submit" id="add_task">
                Add
            </button>
        </form>
    <h2>Tasks</h2>
    {% for todo in todos %}
        <div class="task">
            {% if todo.completed %}
                <strike>{{ todo.task }}</strike>
            {% else %}
                {{ todo.task }}
            {% endif %}
            <small>
                <a href="edit/{{ todo.id }}">수정</a>
                <a href="delete/{{ todo.id }}">삭제</a>
            </small>
        </div>
    {% endfor %}
{% endblock content %}